<div class=" container-fluid caja">
  <div class="container barra">
    <div >
    <h1 class="nombre">Bienvenido: {{user.username}}</h1>
    <p>Tienes {{user.credit}} créditos</p>
    </div>
    <div class="boton-crear">
      <form action="/create" method="GET">
        <button type="submit" class="btn btn-primary">Crear nueva clase</button>
      </form>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 ">
      <h2>Mis clases</h2>
      

      <div class="listas ">
        <ul class="list-unstyled">
      {{#each courses}}
      <li class="media">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4 fotito" >
        <img src="{{this.photoURL}}" class="card-img" alt="tech" style=" padding-left: 10px;">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-11 ">
          <div class="card-body ">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">Créditos: {{this.creditos}}</p>
            <p class="card-text"><small class="text-muted">{{this.category}}</small></p>

            <div class="botones-courses">
              <form action="/editcourse/{{_id}}" method="GET">
              <button type="submit" class="btn btn-primary">Editar</button>
            </form>
            
            <form action="/profile/{{this.id}}" method="DELETE">
                <button type="submit" class="btn btn-danger" style="margin-left:10px">Eliminar</button>
            </form>
            </div>
          </div>
        </div>
        </div>
        
      </div>
    </div>
  </div>
</li>

      {{/each}}
    </ul>
      </div>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h2>Mis cursos</h2>

      <p>{{reviews}}</p>
<div class="courses-list">
  <h2>{{req.user}}</h2>

  <div class="listas">
    <ul class="list-unstyled">
    {{#each coursesInscrip}}
    <li class="media">
      <div class="card mb-3" style="max-width: 100%;">
        {{#if this}}
        <div class="row no-gutters">
          <div class="col-md-4 fotito">
            <img src="{{this.photoURL}}" class="img-car-curso" alt="tech" style="padding-left: 10px;">
          </div>
      
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.description}}</p>
              <p class="card-text">Esta materia te da: {{this.creditos}} créditos</p>
              <p class="card-text"><small class="text-muted">{{this.category}}</small></p>    
              <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModal{{this.id}}">Comentar</button>
            </div>
          </div>
        </div>
        {{else}}
        <div class="alert alert-dark eliminado" role="alert">
          <p>El usuario eliminó el curso</p>
        </div>
        {{/if}}
      </div>
    </li>

    <div class="modal fade" id="exampleModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{this.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/review/{{this.id}}" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="formGroupExampleInput">Comentario</label>
                <input name="descripcion" type="text" class="form-control" id="formGroupExampleInput"
                  value="{{this.description}}" required>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Calificación</label>
                <select name='calificacion' class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{/each}}
  </ul>

        </div>
        <br>
      </div>
    </div>
  </div>
</div>